parameters:
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
        -
            message: '#Dead catch - Twig\\\\Sandbox\\\\SecurityError is never thrown in the try block#'
            path: Processor.php
