parameters:
    level: 6
    paths:
        - src
    scanFiles:
        - %currentWorkingDirectory%/vendor/open-dxp/opendxp/stubs/dynamic-constants.php
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
    excludePaths:
        - '**/Processor/PdfReactor.php'
        - '**/PDFreactor.class.php'
    reportUnmatchedIgnoredErrors: false

    symfony:
        containerXmlPath: %currentWorkingDirectory%/var/cache/test/TestContainerDebug.xml

includes:
    - %currentWorkingDirectory%/vendor/phpstan/phpstan-symfony/extension.neon
    - phpstan-baseline.neon
