.opendxp_nav_icon_print_settings {
    background: url(/bundles/opendxpadmin/img/flat-white-icons/print.svg) center center no-repeat !important;
}

.opendxp_icon_printpage {
    background: url(/bundles/opendxpadmin/img/flat-color-icons/print.svg) center center no-repeat !important;
}

.opendxp_icon_printcontainer {
    background: url(/bundles/opendxpadmin/img/flat-color-icons/book.svg) center center no-repeat !important;
}
